{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "es6":     true,
        "browser": true,
        "node":    true,
        "mocha":   true
    },   
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended",
        // "airbnb"
    ],    
    "rules": {
        "no-console": "off",
        // "sort-keys": ["error", "asc", {"caseSensitive": true, "natural": false}]
    }
}