{
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "rules": {
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "indent": [2, 2],
    "no-underscore-dangle": 0,
    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "react/prop-types": 0,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-multi-comp": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/tabindex-no-positive": 0,
    "jsx-a11y/no-autofocus": 0,
    "max-len": ["error", { "code": 100 }]
  }
}
