@import '../../assets/styles/vars/colors.scss';


.input-button__input{
	outline: none;
	cursor: pointer;
    box-sizing: border-box;
    border: 0;
    display: inline-block;
    flex: 0 0 auto;
    font-size: 14px;
    line-height: 19px;
    padding: 10px 16px;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    transition: background .3s;    
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border: 1px solid;
    align-items: center;
    color: $color__white;
    fill: $color__white;
    stroke: $color__white;

    &:active{        
        color: $color__alpha-3;
        fill: $color__alpha-3;
        stroke: $color__alpha-3;
    }
}

.input-button__content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-button__icon{
    margin-right: 5px;
    margin-left: 0px;
    fill: inherit;
    stroke: inherit;
}

.input-button__input--primary{
    background-color: $color__main-primary;
    border-color: $color__main-primary;
    
    &.noFill{
        background-color: transparent;
        color: $color__main-primary;
        fill: $color__main-primary;
        stroke: $color__main-primary;
    }

    &:hover, &:focus{
        background-color: $color__main-primary--active;
        border-color: $color__main-primary--active;
        
        &.noFill{
            color: $color__white;
            fill: $color__white;
            stroke: $color__white;
        }
    };    
}
.input-button__input--secondary{
	background-color: $color__main-secondary;
    border-color: $color__main-secondary;
    
    &.noFill{
        background: transparent;
        color: $color__main-secondary;
        fill: $color__main-secondary;
        stroke: $color__main-secondary;
    }

    &:hover, &:focus{
		background-color: $color__main-secondary--active;
		border-color: $color__main-secondary--active;
        
        &.noFill{
            color: $color__white;
            fill: $color__white;
            stroke: $color__white;
        }
    }    
}
.input-button__input--danger{
    background-color: $color__main-danger;
    border-color: $color__main-danger;
    color: $color__white;
    fill: $color__white;
    stroke: $color__white;
    
    &.noFill{
        background: transparent;
        color: $color__main-danger;
        fill: $color__main-danger;
        stroke: $color__main-danger;
     }

    &:hover, &:focus{
        background-color: $color__main-danger--active;
        border-color: $color__main-danger--active;
        
        &.noFill{
            color: $color__white;
            fill: $color__white;
            stroke: $color__white;
        }
    }
}
.input-button__input--disabled,
.input-button__input--tertiary{
    background-color: $color__main-tertiary;
    border-color: $color__main-tertiary;
    color: $color__dark-gray-2;
	fill: $color__dark-gray-2;
    stroke: $color__dark-gray-2;

    &.noFill{
        background: transparent;
        color: $color__gray-5;
        fill: $color__gray-5;
        stroke: $color__gray-5;
    }
    &:hover, &:focus{
		background-color: $color__main-tertiary--active;
		border-color: $color__main-tertiary--active;
    };
}

.input-button__input--primary,
.input-button__input--secondary,
.input-button__input--tertiary,
.input-button__input--danger{
    &:hover{
        &.noFill{ 
            &:active{ 
                color: $color__alpha-3;
                fill: $color__alpha-3;
                stroke: $color__alpha-3;
            }
        }
    } 
    &:active{        
        color: $color__alpha-3;
        fill: $color__alpha-3;
        stroke: $color__alpha-3;
    }
}