@import '../vars/colors.scss';
@import '../vars/border.scss';
@import '../vars/background.scss';
@import '../vars/general.scss';

/********************************/
/********************************/

.element *{
	box-sizing: border-box;
	font-family: Open Sans, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;	
}


/********************************/
/********************************/

/** ELEMENT  */
.modus-element__holder{
	width: 0px;
	height: 0px;
	margin: 0;
	padding: 0;
	opacity: 0;
	flex: 0 1 0px;
	border: none;
}
