@import '../vars/colors.scss';
@import '../vars/border.scss';
@import '../vars/background.scss';
@import '../vars/general.scss';

.input *{
	box-sizing: border-box;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;	
}
