@import '../../assets/styles/vars/colors.scss';

.input-select__options{
	position: relative;	
}
.input-select__options-wrapper{
	position: absolute;
	width: calc( 100% + 4px );
	margin:0px -2px;
	z-index: 1000;
	animation: fadeIn 0.15s ease-in-out;
}
.input-select__options-wrapper--regular{	
	border-bottom: 2px solid $color__main-tertiary;
}
.input-select__options-wrapper--reverse{
	border-top: 2px solid $color__main-tertiary;
}
.input-select__options-item{
	display: flex;
	align-items: center;
	flex: 0 0 40px;	
	color: $color__dark-gray-3;
	padding-left: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 40px;
	font-size: 13px;
	background: $color__white;

	border-left: 2px solid $color__main-tertiary;
	border-right: 2px solid $color__main-tertiary;
	cursor: pointer;
	color: $color__dark-gray-1;
	fill: $color__dark-gray-1;

	&:hover, &.highlighted{
		background: $color__gray-1;
		border-color: $color__main-primary;
		color: $color__main-primary;
		fill: $color__main-primary;
	}

	&.selected{ 
		background: $color__gray-2;
		border-color: $color__dark-gray-2;
		color: $color__dark-gray-2;
	}

	&.disabled{
		color: $color__main-disabled;
		border-color: $color__main-disabled;
		cursor: auto;
	}
}

.input-select__options-item__icon{
	margin-right: 2px;
}

@keyframes fadeIn{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}