.input-select__options{
	position: relative;	
}
.input-select__options-wrapper{
	position: absolute;
	width: calc( 100% + 4px );
	margin:0px -2px;
	border-bottom: 2px solid #ccc;
	z-index: 1000;
	animation: fadeIn 0.15s ease-in-out;

}
.input-select__options-item{
	flex: 0 0 40px;	
	color:#555;
	padding-left:10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 40px;
	font-size:13px;
	background: #fff;

	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
	cursor: pointer;

	&:hover{
		background:#f8f8f8;
		border-color:#00A3E0;
		color:#00A3E0;
	};

	&.selected{ 
		background: #E8E9EA;
		border-color: #58595A;
		color: #516873;
	}

	&.disabled{
		color:#999;
		cursor: auto;
	}
}

@keyframes fadeIn{
	0%{ opacity: 0; }
	100%{ opacity: 1; }
}