.input-select{
	display: block;
}
.input-select__component{
	display: flex;
	position: relative;
	cursor: pointer;	
	
	&.input-select__component--open {		
	}	
	
	&.input-select__component--disabled{		
	}
}

.input-select__content{	
}

.input-select__placeholder{	
}


.input-select__value{
	-webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position: relative;
    height:20px;

	background: transparent;
	border: none;
	outline: none;
	padding: 0px;
	pointer-events: none;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.has-filter{
    	color:#06c;
    }
}
.input-select-input__icon{
	flex: 0 0 auto;
}
.input-select__indicator{
	transition: all 0.2s linear;
}