.select-wrapper{
	width: 100%;
	height: 45px;	
	display: inline-block;
	box-sizing: border-box;
	position: relative;
}
.select-component{
	display: flex;
	position: relative;
	background:#eee;
	height: 100%;
	width: 100%;	
	border-left: 2px solid #CACBCC;
	border-right: 2px solid #CACBCC;
	cursor: pointer;

	transition: all 0.2s ease-out;
	&.open {
		width:calc(100% + 4px);
		margin-left:-2px;
		margin-right:-2px;
		padding:0px 2px;
		border-color: #58595A;
	}	
	
	&.disabled{
		opacity: .5;
		pointer-events: none;
		cursor: auto;
	}
}
.select-box{
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.select-placeholder{
	font-size: 14px;
	transition: all 0.2s ease-out;
	position: absolute;
	top: 50%;
	left: 16px;	
	color: #999;
	transform: translateY(-50%);

	&.top{
		top: 11px;				
		font-size: 11px;
		
	}
}

.select-value{
	color:#333;
	margin-left:10px;
	justify-content:center;
	align-items:center;
}

.select-input-content-box{
	display: flex;
	width:100%;	
	padding-left: 16px;
	padding-right: 12px;
	align-items: center;
}

.select-input-value{
	flex:2 1 auto;
	vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    height:20px;

}
.select-input-filter{
	-webkit-box-flex: 2;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    position: relative;
    height:20px;

	background: transparent;
	border: none;
	outline: none;
	padding: 0px;
	pointer-events: none;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.has-filter{
    	color:#06c;
    }
}
.select-input-icon{
	flex: 0 0 auto;
}
