@import '../../assets/styles/vars/colors.scss';

.element-icon {
  display: flex;
  flex: 0 0 auto;
}
.element-icon--spin {
  animation: spinIcon 1s linear infinite;
}

@keyframes spinIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
