.input-fileuploader{
}
.input-fileuploader__component{
	display: flex;
	position: relative;	
	cursor: pointer;
	
	&.input-fileuploader__component--open {
	}	
	
	&.input-fileuploader__component--disabled{
	}
}
.input-fileuploader-box{
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.input-fileuploader__placeholder{	
}


.input-fileuploader__content{	
}

.input-fileuploader__input{	
    flex: 0 0 0;    
    position: relative;
    height: 20px;
    opacity: 0;
    width: 0;
}

.input-fileuploader__value{
	flex:2 1 auto;
	vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    
    &.missing {
		color:#999;
	}
}

.input-fileuploader__button{
}

.input-fileuploader__button-add{
	&:hover, &.component__inner-button--active{
		background: rgba(0,162,233,0.8);
	}
}
.input-fileuploader .input-fileuploader__button-remove{
	&:hover, &.component__inner-button--active{	
		background: rgba(255,50,50,0.8);		
	}
}
.input-fileuploader__icon{
	flex: 0 0 auto;
}
