.input-fileuploader{
	height: 45px;
	display: block;
	box-sizing: border-box;
	position: relative;
}
.input-fileuploader__component{
	display: flex;
	position: relative;	
	cursor: pointer;
	
	&.input-fileuploader__component--open {
	}	
	
	&.input-fileuploader__component--disabled{
	}
}
.input-fileuploader-box{
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.input-fileuploader__placeholder{	
}


.input-fileuploader__content{
	position: absolute;
	height: 100%;
	width:100%;
	display: flex;	
	padding-left: 16px;
	padding-right: 12px;
	align-items: center;
}

.input-fileuploader__input{	
    flex: 0 0 0;    
    position: relative;
    height: 20px;
    opacity: 0;
    width: 0;
}

.input-fileuploader__filename{
	flex:2 1 auto;
	vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    height:20px;

    &.missing {
		color:#999;
	}
}

.input-fileuploader__button{
	outline: none;
	flex: 0 0 auto;
	border-radius:3px;
	height: 24px;
	margin: 5px;
	background: rgba(0,0,0,0.1);	
	border: none;
	font-size:12px;

	&:hover, &.has-focus{
		background: #00A2DF;
		color: #fff;
	};
}

.input-fileuploader__button-remove{
	outline: none;
	flex: 0 0 auto;
	border-radius:3px;
	height: 24px;
	margin: 5px;
	background: rgba(0,0,0,0.1);
	border: none;
	font-size:12px;

	&:hover, &.has-focus{
		background: rgba(255,50,50,0.8);
		color: #fff;
	}
}
.input-fileuploader__icon{
	flex: 0 0 auto;
}
