.scrollbox-wrapper{
	position: relative;
	overflow-x: hidden; 
	display: flex;
	
}
.scrollbox-content-box{
	/*height: 100%;*/
	width: calc( 100% + 20px );
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 20px;
	
	display: flex;
	flex: 1 0 auto;
	max-height: 100%;
}
.scrollbox-content{
	width: calc( 100% + 20px );
	display: flex;
	flex: 1 0 auto;
    max-height: 100%;
    flex-direction: column;
}