@import '../../assets/styles/vars/colors.scss';

.element-scrollbox__wrapper{
	position: relative;
	overflow-x: hidden; 
	display: flex;
	flex: 1 1 auto;
	
}
.element-scrollbox__content-box{
	width: calc( 100% + 20px );
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	padding-right: 20px;
	flex: 1 0 auto;	
}
.element-scrollbox__content{
	display: flex;	
	width: calc( 100% + 20px );
    
    flex-direction: column;
	flex: 2 0 auto;

	&.flexible{
		display: flex;
	}
}