@import './modusbox-background.scss';
@import './modusbox-colors.scss';
@import './modusbox-border.scss';
@import '../application.scss';

// General rules that apply across different components
.element {
  font-family: Fira Sans, sans-serif;
  letter-spacing: 0.02rem;
}
.mb-input {
  font-family: Fira Sans, sans-serif;
  letter-spacing: 0.02rem;
}
.mb-input__borders {
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-color: #e5e5e5;
  border-left-color: #e5e5e5;
  border-top-color: #e5e5e5;
}

// Button custom style
.input-button__input {
  border-bottom-width: 2px;
  &:not(.noFill) {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  &:hover,
  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    &:active {
      border-bottom-color: transparent;
    }
  }
}

// Checkbox custom style
.input-checkbox__input {
  + label {
    &:before {
      flex-basis: 22px;
      width: 22px;
      border: none;
      height: 20px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    &.round {
      &:before {
        height: 22px;
        border-bottom: 0px solid;
      }
    }
  }
  &:checked {
    + label:not(.input-checkbox__label--round) {
      &:before {
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      }
    }
  }
}
