@import './modusbox-background.scss';
@import './modusbox-colors.scss';
@import './modusbox-border.scss';
@import '../application.scss';

html {
  font-family: Fira Sans, sans-serif;
}

body {
  font-family: Fira Sans, sans-serif;
}

// General rules that apply across different components
.mb-input {
  /* margin-top: 3px;
	margin-left: 3px;
	margin-right: 3px;
	margin-bottom: 3px; */
}
.mb-input__borders {
  border-right-width: 0px;
  border-left-width: 0px;

  border-bottom-width: 2px;
  border-bottom-style: solid;
}

// Button custom style
.input-button__input {
  border-bottom-width: 2px;
  &:not(.noFill) {
    border-bottom-color: rgba(0, 0, 0, 0.2);
  }
  &:hover,
  &:focus {
    border-bottom-width: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    &:active {
      border-bottom-color: transparent;
    }
  }
}

// Checkbox custom style
.input-checkbox__input {
  + label {
    &:before {
      flex-basis: 22px;
      width: 22px;
      border: none;
      height: 20px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    &.round {
      &:before {
        height: 22px;
        border-bottom: 0px solid #333;
      }
    }
  }
  &:checked {
    + label:not(.round) {
      &:before {
      }
    }
  }
}
