/* CHECKBOX RULES */
.element-datalist{
	display: flex;
	flex-direction: column;

	input[type='checkbox']{
		margin: 0;
		padding: 0;
	}
}

/* MULTI SELECTION */
.element-datalist__checkbox{
	appearance: none;
	display: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);		
	position: relative;
	&input[type='checkbox']{
		margin:0px;
		padding:0px;
	}
	&.selected{
		background:#00a2df;
	}

	
	+ label{
		display: inline-block;
		position: relative;
		background-color: #fafafa;
		border: 1px solid #cacece;
		width:22px;
		height:22px;
		border-radius:11px;
		cursor: pointer;
		box-shadow:0px 0px 0px 0px rgba(0,0,0,0.13);
		transition: box-shadow .3s linear;

		&:hover{
			box-shadow:0px 0px 0px 6px rgba(0,0,0,0.13);
		}
		
	}


	&:checked {		
		+ label{
			border-color: #00a2df;
			background: #00a2df;
			animation: runBackground 2s linear infinite;

			&:after{				
				content: "";
				box-sizing: content-box;
				box-sizing: initial;
				position: absolute;
				left: 5px;
				top: 9px;
				background: #fff;
				width: 2px;
				height: 2px;
				box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -8px 0 #fff, 4px -6px 0 #fff;
				transform: rotate(45deg);
				animation: animateCheckboxContent 0.1s ease-out 1;
			}
		}
	}
	&.half-checked{		
		+ label{
			border-color: #ddd;
			background: #ddd;
			animation: runBackground 2s linear infinite;

			&:after{				
				content: "";
				box-sizing: content-box;
				box-sizing: initial;
				position: absolute;
				left: 5px;
				top: 9px;
				background: #999;
				width: 10px;
				height: 2px;				
			}
		}
	}
}

.element-datalist__error-box,
.element-datalist__message-box{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50;
	animation: fadeUp 0.2s ease-out;
}

/* PAGING RULES */
.paging-box{
	background:#fff;
	border-top:2px solid #eee;
	display: flex;
	height:40px;
	flex: 0 0 auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.paging-scroller-box{
		display: flex;
		flex-direction:row;
		max-width:200;
		overflow: hidden;
	}
	.paging-scroller{
		display: flex;
		flex-direction:row;
		transition:all 0.1s ease-out;		
	}

	.paging-page{
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;

		border: 1px solid transparent;
		font-size: 15px;				
		color:#999;		
		transform: scale3d(0.8,0.8,0.8);
		transition:all 0.1s ease-out;

			
		::selection{ 
			user-select: none;
		}

		&:hover{
			cursor:pointer;
		}
		&.selected{
			transform: scale3d(1,1,1);
			margin: 0px;			
			color: #0af;			
			border-color: #0af;
		}
	}
}
.paginator{

	position: relative;
	height: 0;
	.paginator-animator{
		position: absolute;
		z-index:1000;
		width:100%;		
		left:0;
		font: 12px arial;
		line-height:30px;		
		opacity: 0;
		text-align:center;
		transition: all 0.4s ease-out;
		transform: translateZ(0);
		&.fadeInOut{
			opacity:1;		
		}

		.paginator-range{
			display:inline-block;
			text-align:center;
			background: rgba(240,240,240,0.9);
			background:#fff;
			border:1px solid #39f;
			font-size:14px;
			border-radius:15px;
			color: #28e;
			padding:0px 10px;

		}
		
	}
}
.overlay-column-resizer{
	position: absolute;
	z-index: 1000;
	background: rgba(154, 207, 255 , 0.8);	
	height:100%;
	border-left:2px dashed #39f;
	border-right:2px dashed #39f;
	color:#06c;
	padding-top:10;
	text-align:center;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
    transform: translate3d(0,0,0);
	/*backdrop-filter: blur(4px);*/

	transition: background 0.3s ease-out, border-color 0.3s ease-out;
	&.minimum{
		background: rgba(255, 154, 154, 0.8);
		border-color: #c33;
		color:#c33;
	}

	.overlay-column-resizer-label{
		font-weight: bold;
	}
	
}
.loading-box{
	height:100px;
	width:100%;
	animation: fadeUp 0.3s ease-out 1 forwards;
}

.element-datalist__wrapper{	
    flex: 2;
	position: relative;    
	/*height:100%;*/
	max-height: 100%;
}

* .element-datalist label {
	display: inline-block;
}


.element-datalist{
	display: flex;
	flex-direction: column;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;	
	width: 100%;
	display: flex;	
	animation: fadeUp 0.3s ease-out 1 forwards;
	overflow:hidden;
	
	::selection{ 
		 user-select: none;
	}
	
	label{ 
		display: inline-block;
	}

	.central-box{
		position: relative;		
		overflow: hidden;
		display: flex;
		flex-direction:column;
		flex: 1 1 auto;
	}	
	.element-datalist__body-box{		
		&.remove-pointer-events{
			pointer-events:none;
		}		
	}
	.element-datalist__scroller{
	}


	/* PAGINATION */
	.element-datalist__pagination-box{
		border-top:2px solid #ccc;
		height:40px;		
		display: flex;
		flex-flow: row;
	}	
	.element-datalist__pagination-center{
		flex-shrink: 1;
		flex-grow: 1;

		display: flex;
		flex-direction:row;
		align-items: center;
		justify-content: center;

		.element-datalist__pagination-total-count{
			align-self: flex-start;
			font-size:13px;
			height:30px;
			line-height:30px;
			margin:5px;
			.count{ color:#999; }
			.text{ color:#bbb;}
		}
		.element-datalist__pagination-items{
			display: flex;
			flex-direction:row;
			border-bottom:1px solid #333;
			margin:4px;
			border: 1px solid #ddd;

			.page{
				width:30px;
				height:30px;
				text-align:center;
				line-height:30px;
				font-size:12px;
				transition: all 0.2s ease-out;
				cursor:pointer;

				&:hover{ background:#f4f4f4; }
				
				&.selected{
					font-weight:bold;
					background:#6b8a99;
					color:#fff;					
				}
			}
			.arrow-box{
		  		display:flex;
				align-items: center;
  				justify-content: center;
				width:30px;
				height:30px;		  

		  		&:hover{
		  			cursor:pointer;
		  			background:#f4f4f4;
		  		}
				
				.arrow-left{
					transform:rotateZ(90deg);
				}
				.arrow-right{
					transform:rotateZ(-90deg);
				}
		  	}
		 }
	}



	/***********************/
	/* inside the data box */
	/***********************/
	.element-datalist__body-row-wrapper{
		width:100%;
		&.fadeIn{			
			animation: fadeInRow 0.3s ease-out 1;
		}
		&:nth-child(odd){
			background:#fbfbfb;
		};
	}

	
	.element-datalist__body-row{
		display: flex;
		width:100%;
		border-bottom: 1px solid #e0e0e0;
		color: #333;
		text-overflow: ellipsis;				

		
		&:hover {
			background-color: #f8fcff;
		}

		&.selected{
			color:#18c;
			/*background:#f4faff;*/
			background: linear-gradient(0deg, #23c2eF 1px, #f4faff 1px);
			border-bottom: 1px solid #23c2eF;
		}
	}

	/* IMPORTANT
	 * OVERWRITE RULES FOR NESTED DATALISTS!! 
	 * REMOVE SCROLLING
	 * */
	.element-datalist__children-row{
		background: #fff;
		position:relative;		
		width:calc( 100% + 20px);			
		padding-left:45px;
		overflow-y: scroll;
		overflow-x: hidden;
		padding-right:20px;		
		
		.element-datalist__wrapper{			
			margin-bottom:10px;
			overflow: hidden;
			min-height: min-content;
		}
		.element-datalist{
			position:relative;
			top:0;
			animation: fadeIn 0.3s linear 1 ;
		}
		.central-box{
			position:relative;
			top: 0;
		}
		.element-datalist__body-box{
			display:block;
			flex:none;
			height: auto;			
			min-height: min-content;
		}
		
		border-bottom: 1px solid #e0e0e0;
	}


	.element-datalist__header-row-box{	
		flex: 0 0 auto;
		background: linear-gradient(0deg, #ccc, #ccc 3px, #fff 3px);
	}	

	.element-datalist__scrollbar-cell{
		width: 6px;
	}

	.element-datalist__body-cell,
	.element-datalist__header-cell{		
		font-size: 13px;
		border: none;
		text-align: left;
		padding: 10px;
		line-height: 20px;				
		transform: translate3d(0,0,0);

	}
	.element-datalist__header-cell{
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 7;
		font-weight:bold;
		color:#666;
		height:40px;
		overflow-x: hidden;
		transition: color 0.2s linear, border-bottom-color 0.2s linear;
		border-bottom: 3px solid #ccc;		
		
		&.isSorting{
			color:#6B8A99;
			border-bottom-color: #6B8A99;
		}

		&.sortable:hover{
			color:#6B8A99;
			cursor:pointer;			
			border-bottom-color: #aaa;
		}
		&.non-searchable{
			padding-left:10;	
		}
		&.isSearching{
			color:#6B8A99;
			border-bottom-color: #f63;
			&:hover{
				border-bottom-color: #f63;
			};
		}

		&:hover{
			.element-datalist__header-cell-holder{
				display: flex;
			};
		}
	}

	.element-datalist__body-cell{
		position:relative;
		overflow: hidden;
		box-sizing: border-box;
	    display: flex;
	    flex-wrap: nowrap;
	    flex: 1 0 auto;
	    justify-content: flex-start;
	    align-content: space-between;
	    align-items: flex-start;
	    flex-direction: column;	    
	    flex-basis: initial;
		color: inherit;
		font-size:13px;
		cursor:default;		

		a{
			cursor:pointer;
		}

		&.arrow-cell{
			width:40px;
			padding: 12px;

		}	
	}
	.element-datalist__body-cell-content-wrapper{
		width: 100%;
	    display: flex;
	    align-items: center;
	    flex-direction: row;
	}
	.element-datalist__body-cell-icon,
	.element-datalist__body-cell-text{
		/* vertical-align: middle;
		overflow: hidden;		
		text-overflow: ellipsis;
		white-space: nowrap;
		position:relative; */
		flex-shrink: 1;
		display: flex;
		overflow: hidden;

	}
	.element-datalist__body-cell-content{
		position:relative;
		display: flex;
	}

	.element-datalist__header-cell-box{
		width:100%;
		display: flex;
	}
	.element-datalist__header-cell-searchIcon-box{
		padding:2;		
		flex: 0 1 20px;
	}
	.element-datalist__header-cell-searchInput-box{		
		height:20px;
		overflow: hidden;
		flex: 2 1 auto;
		display: flex;

		.element-datalist__header-cell-searchInput-input{
			min-width: 0;
			background: transparent;
			height: 28px;
			line-height: 28px;
			margin-top:-4px;
			font-size: 13px;
			font-weight: normal;
			border: none;			
			outline: none;
				
			flex-grow: 2;
			opacity:0.1;
			transition: all 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
			&.grow{
				opacity:1;

			}
			&::selection{ 
				background:#6B8A99;
				color:#fff;
			}
		}
		.element-datalist__header-cell-searchInput-remove{
			float:left;
			fill:#c33;
			flex: 0 1 20px;
			height:20px;
			padding:2px;
			animation: fadeInRemoveSearch 0.2s ease-out 1;
		}
	}

	.element-datalist__header-cell-label{
		flex: 2 1 auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.element-datalist__header-cell-arrowIcon-box{
		padding:2;		
		flex: 0 1 20px;
		&.center{ 
			flex:2 1 auto;
			display: flex;
			justify-content:center;
		}
	}
	
	.element-datalist__header-cell-searchIcon{
		
		fill: #ccc;
		transition:all 0.2s ease-out;

		&:hover{ fill: #999 };
		&.rotated{
			fill: #6B8A99;		
		}
	}

	.element-datalist__header-cell-arrowIcon{
		transform:rotateZ(0deg);
		transition:all 0.2s ease-out;		
		&.rotated{
			transform:rotateZ(180deg);	
		}
	}
	.element-datalist__header-cell-holder{

		display: none;
		height:100%;
		flex: 0 1 20px;		

		.holder-icon{
			padding:2;		
			flex: 0 1 20px;
			fill: #999;
			transition: all 0.2s ease-out;
			&:hover{
				fill: #6B8A99;
				transform: rotateZ(90deg);
			};
		}

		.resize-icon{
			width:16px;
			height:16px;			
			display: flex;
			margin: 2px;
			justify-content:center;
			align-items:center;
			.resizer-left,
			.resizer-right{
				height:14px;
				width:2px;
				background:#ccc;			
				flex:0 0 auto;
				transition: all 0.2s ease-out;
			}
			.resizer-left{
				transform: translateX(-1px);
			}
			.resizer-right{
				transform: translateX(1px);
			}

			&:hover{

				.resizer-left{
					background: #6B8A99;
					transform: translateX(-2px);
				}
				.resizer-right{
					background: #6B8A99;
					transform: translateX(2px);
				}	
			}
		}		
	}

	.element-datalist__body-arrowIcon{
		transform:rotateZ(0deg);
		transition:all 0.2s ease-out;
		&.rotated{
			transform:rotateZ(-90deg);	
		}
	}
}

.element-datalist__tooltip {
	position:absolute;
	background:rgba(0,0,0,0.8);
	z-index:1000000;
	height:30px;
	width:50px;
	font-size:12;
	text-align:center;
	color: #fff;
	line-height:30px;
	opacity:0;
	animation: tooltipFader 0.3s ease-out 1 forwards;		
	animation-delay: 0.1s;

}


@keyframes tooltipFader{
	from { opacity:0; }
	to { opacity:1; }	
}
@keyframes fadeIn{
	from { opacity:0; }
	to { opacity:1; }	
}

@keyframes fadeUp{
	0%{  transform:translate3d(0,10px,0); opacity:0; }
	100%{ transform:translate3d(0,0,0); opacity:1; }
}

@keyframes fadeInRow{
	0%{  /*transform: translateY(5px);*/ opacity:0; }
	100%{ /*transform: translateY(0);*/ opacity:1; }
}

@keyframes fadeInOut{
	0%{ opacity:0; }
	20%{ opacity:1; }
	80%{ opacity:1; }
	100%{ opacity:0; }
}

@keyframes expand{ 
	0%{ width: 0%; }
	100%{ width: 100%; }
}

@keyframes animateCheckboxContent{ 
	0%{ opacity:0; }
	100%{ opacity:1; }
}


@keyframes fadeInRemoveSearch{
	0%{
		transform: translate3d(-5px, 0px, 0px) scale3d(0.8, 0.8, 1);
	}
	100%{ transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);}
}