@import '../../../assets/styles/vars/colors.scss';

.color-box{
	display: inline-block;
	flex: 0 0 100px;
	height: 100px;
	width: 100px;
	margin: 5px;
}
.color-box__title {
	font-size: 12px;
	background: #fff;
	margin: 2px;
	padding: 2px;
	background: rgba(255,255,255,0.9);
}

.color-box--main-primary{
	background: $color__main-primary;
}
.color-box--main-secondary{
	background: $color__main-secondary;
}
.color-box--main-tertiary{
	background: $color__main-tertiary;
}
.color-box--main-success{
	background: $color__main-success;
}
.color-box--main-danger{
	background: $color__main-danger;
}
.color-box--main-warning{
	background: $color__main-warning;
}
.color-box--main-disabled{
	background: $color__main-disabled;
}
.color-box--main-primary--active{
	background: $color__main-primary--active;
}
.color-box--main-secondary--active{
	background: $color__main-secondary--active;
}
.color-box--main-tertiary--active{
	background: $color__main-tertiary--active;
}
.color-box--main-success--active{
	background: $color__main-success--active;
}
.color-box--main-danger--active{
	background: $color__main-danger--active;
}
.color-box--main-warning--active{
	background: $color__main-warning--active;
}
.color-box--main-disabled--active{
	background: $color__main-disabled--active;
}
.color-box--blue-1{
	background: $color__blue-1;
}
.color-box--blue-2{
	background: $color__blue-2;
}
.color-box--blue-3{
	background: $color__blue-3;
}
.color-box--blue-4{
	background: $color__blue-4;
}
.color-box--blue-5{
	background: $color__blue-5;
}
.color-box--dark-blue-1{
	background: $color__dark-blue-1;
}
.color-box--dark-blue-2{
	background: $color__dark-blue-2;
}
.color-box--dark-blue-3{
	background: $color__dark-blue-3;
}
.color-box--dark-blue-4{
	background: $color__dark-blue-4;
}
.color-box--dark-blue-5{
	background: $color__dark-blue-5;
}
.color-box--green-1{
	background: $color__green-1;
}
.color-box--green-2{
	background: $color__green-2;
}
.color-box--green-3{
	background: $color__green-3;
}
.color-box--green-4{
	background: $color__green-4;
}
.color-box--green-5{
	background: $color__green-5;
}
.color-box--gray-1{
	background: $color__gray-1;
}
.color-box--gray-2{
	background: $color__gray-2;
}
.color-box--gray-3{
	background: $color__gray-3;
}
.color-box--gray-4{
	background: $color__gray-4;
}
.color-box--gray-5{
	background: $color__gray-5;
}
.color-box--dark-gray-1{
	background: $color__dark-gray-1;
}
.color-box--dark-gray-2{
	background: $color__dark-gray-2;
}
.color-box--dark-gray-3{
	background: $color__dark-gray-3;
}
.color-box--dark-gray-4{
	background: $color__dark-gray-4;
}
.color-box--dark-gray-5{
	background: $color__dark-gray-5;
}
.color-box--alpha-1{
	background: $color__alpha-1;
}
.color-box--alpha-2{
	background: $color__alpha-2;
}
.color-box--alpha-3{
	background: $color__alpha-3;
}
.color-box--alpha-4{
	background: $color__alpha-4;
}
.color-box--alpha-5{
	background: $color__alpha-5;
}
.color-box--white{
	background: $color__white;
}
.color-box--yellow{
	background: $color__yellow;
}
.color-box--viridian{
	background: $color__viridian;
}
.color-box--teal{
	background: $color__teal;
}
.color-box--navy{
	background: $color__navy;
}
.color-box--indigo{
	background: $color__indigo;
}
.color-box--violet{
	background: $color__violet;
}
.color-box--red{
	background: $color__red;
}