@import '../../assets/styles/vars/colors.scss';
@import '../../assets/styles/vars/transitions.scss';

.input-textfield {
}
.input-textfield__component {
  display: flex;
  position: relative;
  cursor: text;
  transition: $input__main-transition;

  &.input-textfield__mb-input--open {
  }

  &.input-textfield__mb-input--disabled {
  }
}
.input-textfield__content {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
}

.input-textfield__placeholder {
}

.input-textfield__value {
  flex: 2 1 auto;
  vertical-align: middle;
  position: relative;
  height: 20px;
  background: transparent;
  border: none;
  outline: none;
  padding: 0px;
  padding-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  color: $color__dark-gray-3;
}
.input-textfield__icon {
  flex: 0 0 auto;
}

// Hide arrows for input type number
.input-textfield__value[type='number']::-webkit-inner-spin-button,
.input-textfield__value[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-textfield__value[type='number'] {
  -moz-appearance: textfield;
}
