.forminputs__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.forminput__inline-button {
  min-width: 80px;
  margin-left: 10px;
}

.forminput__row {
  display: flex;
  flex-direction: row;
  flex: 0 0 0px;
}
.forminput-input {
  margin-bottom: 4px;
  margin-left: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px;
  width: 400px;
}

.forminput-checkbox {
  margin-left: 10px;
  margin-bottom: 10px;
}
.forminput__input-message {
  max-width: 100%;
  min-width: 100%;
  height: 15px;
  max-height: 15px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}
.forminput__label-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.forminput__label-box--small {
  height: 13px;
  label {
    margin-left: 1px;
    font-size: 10px;
  }
  .forminput__label-icon {
    margin-left: 1px;
  }
}
.forminput__label-box--medium {
  height: 16px;
  label {
    margin-left: 2px;
    font-size: 12px;
  }
  .forminput__label-icon {
    margin-left: 2px;
  }
}
.forminput__label-box--large {
  height: 19px;
  label {
    margin-left: 3px;
    font-size: 14px;
  }
  .forminput__label-icon {
    margin-left: 3px;
  }
}

.forminput-timepicker,
.forminput-input,
.forminput-checkbox {
  label {
    -webkit-font-smoothing: antialiased;
  }
  .input-base {
    display: block;
  }

  &.locked {
    .input-base input,
    .select-input,
    .datetime {
      border-color: #f4f4f4 !important;
      background: #f4f4f4 !important;
    }
  }
}

/* MODAL CSS MODIFIERS */
.el-modal__body:not(.el-modal__body--tabbed) .forminput-input {
  margin-left: 0;
  width: auto;
  flex-grow: 1;
}
.el-modal__body.el-modal__body--tabbed .forminput-input {
  flex-grow: 0;
}
