.col-40px {
  color: #999;
  max-width: 40px;
  min-width: 40px;
}
.col-100px {
  color: #f30;
  max-width: 100px;
  min-width: 100px;
}

.m5 {
  margin: 5px;
}

.p10 {
  padding: 10px;
}

.b1-ccc {
  border: 1px solid #ccc;
}

.w500 {
  width: 500px;
}

.control-icon__test {
  fill: #c99;
}