.element-tooltip{
	position: relative;
	max-width: 100%;

}
.element-tooltip__content{
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}

.element-tooltip__viewer{
	display: none;
	position: absolute;
	bottom: 0px;
	z-index: 1000000;
	color: #fff;
	background: rgba(0,0,0,0.8);
	padding: 5px;
	white-space: nowrap;
	fill: #fff;	
}