.element-tooltip{
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.element-tooltip__holder{
	width: 8px;
	height: 8px;
	background: #c33;
}
.element-tooltip__content{
}

.element-tooltip__viewer{
	display: block;
	position: absolute;
	z-index: 1000000;
	white-space: nowrap;	
	opacity: 0;
	transition: all 0.2s linear;
}

.element-tooltip__viewer--default{
	background: rgba(0,0,0,0.8);
	color: #fff;
	fill: #fff;	
	padding: 8px;
	border-radius: 3px;	
	font-size: 12px;
}

.element-tooltip__viewer--fade-in{
	opacity: 1;
}