@import './items/input';
@import './items/element';

@import './vars/colors.scss';
@import './vars/border.scss';
@import './vars/background.scss';
@import './vars/general.scss';

.mb-input__borders {
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}
.mb-input__background{
	background: transparent;
}