$border-radius: 0px;

$border-left-size: 2px solid;
$border-right-size: 2px solid;
$border-top-size: 2px solid;
$border-bottom-size: 2px solid;


$border-color--default: #CACBCC;
$border-color--open: #58595A;
$border-color--pending: #069;
$border-color--invalid: #c33;
$border-color--required: #cc3;
