$color__main-primary: #00a2df !default;
$color__main-secondary: #6b8a99 !default;
$color__main-tertiary: #cacbcc !default;
$color__main-success: #17bc65 !default;
$color__main-danger: #d1344e !default;
$color__main-warning: #ddbb44 !default;
$color__main-disabled: #cacbcc !default;

$color__main-primary--active: #04b3f5 !default;
$color__main-secondary--active: #7d9eae !default;
$color__main-tertiary--active: #e8e9ea !default;
$color__main-success--active: #eecc55 !default;
$color__main-danger--active: #e23955 !default;
$color__main-warning--active: #eecc55 !default;
$color__main-disabled--active: #e8e9ea !default;

$color__blue-1: #abe2f5 !default;
$color__blue-2: #48c1ed !default;
$color__blue-3: $color__main-primary !default;
$color__blue-4: #087299 !default;
$color__blue-5: #114459 !default;

$color__dark-blue-1: #a1b1b8 !default;
$color__dark-blue-2: #a1b1b8 !default;
$color__dark-blue-3: $color__main-secondary !default;
$color__dark-blue-4: #32444d !default;
$color__dark-blue-5: #272f33 !default;

$color__green-1: #aaf2cb !default;
$color__green-2: #33cc7a !default;
$color__green-3: $color__main-success !default;
$color__green-4: #0e8c48 !default;
$color__green-5: #174d30 !default;

$color__gray-1: #f4f5f6 !default;
$color__gray-2: #e8e9ea !default;
$color__gray-3: $color__main-tertiary !default;
$color__gray-4: #a8aaab !default;
$color__gray-5: #989a9b !default;

$color__dark-gray-1: #6b6c6d !default;
$color__dark-gray-2: #58595a !default;
$color__dark-gray-3: #3a3b3c !default;
$color__dark-gray-4: #262728 !default;
$color__dark-gray-5: #121314 !default;

$color__alpha-1: rgba(0, 0, 0, 0.1) !default;
$color__alpha-2: rgba(0, 0, 0, 0.2) !default;
$color__alpha-3: rgba(0, 0, 0, 0.3) !default;
$color__alpha-4: rgba(0, 0, 0, 0.4) !default;
$color__alpha-5: rgba(0, 0, 0, 0.5) !default;

$color__white: #ffffff !default;
$color__yellow: #f2be24 !default;
$color__viridian: #00b49d !default;
$color__teal: #00b5d1 !default;
$color__navy: #178bea !default;
$color__indigo: #5e66f9 !default;
$color__violet: #9a63f9 !default;
$color__red: $color__main-danger !default;
