$color__main-primary: #00A2DF;
$color__main-secondary: #506773;
$color__main-tertiary: #ffffff;
$color__main-success: #17BC65;
$color__main-danger: #D1344E;

$color__primary: $color__main-primary;
$color__secondary: $color__main-secondary;
$color__danger: $color__main-danger;
$color__success: $color__main-success;
$color__tertiary: #ffffff;

$color__blue-1: #ABE2F5;
$color__blue-2: #48C1ED;
$color__blue-3: $color__main-primary;
$color__blue-4: #087299;
$color__blue-5: #114459;

$color__dark-blue-1: #A1B1B8;
$color__dark-blue-2: #6B8A99;
$color__dark-blue-3: $color__main-secondary;
$color__dark-blue-4: #32444D;
$color__dark-blue-5: #272F33;

$color__green-1: #AAF2CB;
$color__green-2: #33CC7A;
$color__green-3: $color__main-success;
$color__green-4: #0E8C48;
$color__green-5: #174D30;

$color__gray-1: #F9FAFB;
$color__gray-2: #F4F5F6;
$color__gray-3: #E8E9EA;
$color__gray-4: #CACBCC;
$color__gray-5: #989A9B;

$color__dark-gray-1: #6B6C6D;
$color__dark-gray-2: #58595A;
$color__dark-gray-3: #3A3B3C;
$color__dark-gray-4: #262728;
$color__dark-gray-5: #121314;

$color__yellow3: #F2BE24;
$color__viridian3: #00B49D;
$color__teal3: #00B5D1;
$color__navy3: #178BEA;
$color__indigo3: #5E66F9;
$color__violet3: #9A63F9;
$color__red3: $color__main-danger;