@import '../../assets/styles/vars/colors.scss';
@import '../../assets/styles/vars/transitions.scss';

.element-datalistV2 {
  display: flex;
  flex-direction: column;
  width: 100%;  
}

.element-datalist__item-cell__wrapper{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;  
  min-height: 40px;  
  overflow: hidden;
  padding: 5px;
}
.element-datalist__item-cell__content{
  width: 100%;
}



