@import '../../assets/styles/vars/colors.scss';
@import '../../assets/styles/vars/transitions.scss';

.element-datalist__header-cell {
  flex: 1;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid #ccc;
  transition: color 0.2s linear, border-bottom-color 0.2s linear;
  overflow-x: hidden;
  padding: 0px 10px;
  color: #333;
}

.element-datalist__header-cell--sortable {
  cursor: pointer;
  &:not(.element-datalist__header-cell--sorting):not(.element-datalist__header-cell--filtering):hover {
    border-bottom-color: #aaa;
  }
}
.element-datalist__header-cell--sorting {
  color: $color__main-primary;
  border-bottom-color: $color__main-primary;
  font-weight: bold;
}
.element-datalist__header-cell--filtering{
  border-bottom-color: #f90;
}


.element-datalist__header-cell__sort-icon {
  flex: 0;
  transform: rotateZ(90deg) rotateY(0deg);
  fill: #999;
  transition: transform 0.2s ease-out;
  
}
.element-datalist__header-cell__sort-icon--asc {
  transform: rotateZ(90deg) rotateY(180deg);
}
.element-datalist__header-cell__search-icon{
  flex: 0;
  fill: #ccc;
  transition: all 0.2s ease-out;
}
.element-datalist__header-cell__search-icon--active{
  fill: #f90;
  transform: scale(1.2, 1.2);
}

.element-datalist__header-cell__filter{
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
}
.element-datalist__header-cell__label {
  flex: 1;
  font-size: 13px;
}


/* .element-datalist__header-cell {    
    &.non-searchable {
      padding-left: 10;
    }a
    &.isSearching {
      color: #6b8a99;
      border-bottom-color: #f63;
      &:hover {
        border-bottom-color: #f63;
      }
    }

    &:hover {
      .element-datalist__header-cell-holder {
        display: flex;
      }
    }
  }
 */